<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/dashboard">  Vento Solar</a>

{{#if user}}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mx-5">
        {{#ifcond user.nivel_usuario '!=' 1}} 
        <li class="nav-item">
            <a class="nav-link mx-3" href="/usuario/gerenciar-funcionarios">Funcionários</a>
        </li>
        <li class="nav-item dropdown mx-3">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Terapêutas
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/usuario/gerenciar-terapeuta">Gerenciar Terapêutas</a>
                <hr>
                <a class="dropdown-item" href="/usuario/servicos">Serviços</a>
                <a class="dropdown-item" href="/usuario/especialidades">Especialidades</a>
                <hr>
                <a class="dropdown-item" href="/usuario/agendar-atendimento">Agendar atendimento</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-3" href="/usuario/gerenciar-hospedes">Hóspedes</a>
        </li>
        <li class="nav-item dropdown mx-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hóspedes
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/usuario/cadastro-hospedes">Cadastrar</a>
                <a class="dropdown-item" href="/usuario/alterar-hospedes">Alterar</a>
                <a class="dropdown-item" href="/usuario/desativar-hospedes">Desativar</a>
                <hr>
                <a class="dropdown-item" href="/usuario/relatorio-estadia">Relatório de estadia</a>
            </div>
        </li>
        <li class="nav-item dropdown mx-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Produtos
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/usuario/produtos">Gerenciar</a>
                <a class="dropdown-item" href="/usuario/realizar-venda">Realizar venda</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-3" href="/usuario/quartos">Check-in e Check-out</a>
        </li>
        {{#ifcond user.nivel_usuario '==' 3}}
        <li class="nav-item">
            <a class="nav-link mx-3" href="/usuario/listar-faturas">Faturas</a>
        </li>
        {{/ifcond}}
        {{else}}
        <a class="nav-link mx-2" href="/usuario/atendimentos-marcados/{{user.terapeuta}}">
            Atendimentos Marcados
        </a>
        <a class="nav-link mx-2" href="/usuario/servicos" role="button">
            Serviços
        </a>

        {{/ifcond}}
    </ul>
    <ul class="navbar-nav mr-auto mr-sm-2">
      <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{user.nome}}
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/usuario/alterar-senha">Alterar senha</a>
                <a class="dropdown-item" href="/logout">Sair</a>
            </div>
        </li>
    </ul>
  </div>
{{/if}}
</nav>