<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/dashboard"><img src="/img/pendulo.png" width="30" height="30">  Vento Solar</a>

{{#if user}}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mx-5">
        {{#ifcond user.nivel_usuario '!=' 1}} 
        <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Funcionarios
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/usuario/cadastro-funcionario">Cadastrar</a>
                <a class="dropdown-item" href="/usuario/alterar-funcionario">Alterar</a>
                <a class="dropdown-item" href="/usuario/desativar-funcionario">Desativar</a>
            </div>
        </li>
        <li class="nav-item dropdown mx-3">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Terapêutas
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/usuario/servicos">Serviços</a>
                <a class="dropdown-item" href="/usuario/agendar-atendimento">Agendar atendimento</a>
                <a class="dropdown-item" href="/usuario/atendimentos-marcados">Atendimentos marcados</a>
                
                {{#ifcond user.nivel_usuario '>=' 2}}
                <hr>
                    <a class="dropdown-item" href="/admin/cadastro-terapeuta">Cadastro de terapêutas</a>
                    <a class="dropdown-item" href="/admin/alterar-terapeuta">Alterar terapêutas</a>
                    <a class="dropdown-item" href="/admin/desativar-terapeuta">Desativar de terapêutas</a>
                    <hr>
                    <a class="dropdown-item" href="/admin/especialidades">Especialidades</a>
                {{/ifcond}}
            </div>
        </li>
        <li class="nav-item dropdown mx-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hóspedes
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/usuario/cadastro-hospedes">Cadastrar</a>
                <a class="dropdown-item" href="/usuario/alterar-hospedes">Alterar</a>
                <a class="dropdown-item" href="/usuario/desativar-hospedes">Desativar</a>
                <hr>
                <a class="dropdown-item" href="/usuario/relatorio-estadia">Relatório de estadia</a>
            </div>
        </li>
        <li class="nav-item dropdown mx-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Produtos
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/usuario/produtos">Gerenciar</a>
                <a class="dropdown-item" href="/usuario/realizar-venda">Realizar venda</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-3" href="/usuario/quartos">Check-in e Check-out</a>
        </li>
        {{#ifcond user.nivel_usuario '==' 3}}
        <li class="nav-item">
            <a class="nav-link mx-3" href="/usuario/listar-faturas">Faturas</a>
        </li>
        {{/ifcond}}
        {{else}}
        <a class="nav-link mx-2" href="/usuario/atendimentos-marcados/{{user._id}}">
            Atendimentos Marcados
        </a>
        <a class="nav-link mx-2" href="/usuario/servicos" role="button">
            Serviços
        </a>

        {{/ifcond}}
    </ul>
    <ul class="navbar-nav mr-auto mr-sm-2">
      <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{user.nome}}
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/usuario/alterar-senha">Alterar senha</a>
                <a class="dropdown-item" href="/logout">Sair</a>
            </div>
        </li>
    </ul>
  </div>
{{/if}}
</nav>