<h3>Ver serviço: </h3>
<div class="card">
    <div class="card-body">
        <form action="/usuario/alterar-servico" method="post">
            <label for="titulo" class="mt-2">Nome: </label>
                <input type="text" name="titulo" class="form-control" value="{{servico.nome}}" disabled >
            <label for="descricao" class="mt-2">Descrição: </label>
                <textarea name="descricao" class="form-control"  disabled>{{servico.descricao}}</textarea>
            <label for="duracao" class="mt-2">Duração: (Minutos) </label>
                <input type="string" name="duracao" class="form-control" value="{{servico.duracao}}" disabled>
            <label for="valor" class="mt-2">Valor: (R$) </label>
                <input type="string" name="valor" value="{{servico.valor}}" class="form-control" disabled>
        </form>
    </div>
</div>