<h3>Alterar especialidade: </h3>
<div class="card">
    <div class="card-body">
        <form action="/usuario/alterar-especialidade" method="POST">
                <input type="text" name="id_especialidade" value="{{especialidade._id}}" required hidden>
            <label for="nome">Nome: </label>
                <input type="text" name="nome" value="{{especialidade.nome}}" class="form-control" required>
            <label for="descricao">Descrição: </label>
                <textarea name="descricao" class="form-control">{{especialidade.descricao}}</textarea>
            <button class="btn btn-success mt-4" type="submit">Alterar</button>
        </form>
    </div>
</div>