<h3>Desativar especialidade: </h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/desativar-especialidade" method="POST">
                <input type="text" name="id_especialidade" value="{{especialidade._id}}" required hidden>
            <label for="nome">Nome: </label>
                <input type="text" name="nome" value="{{especialidade.nome}}" class="form-control" disabled required>
            <label for="descricao">Descrição: </label>
                <textarea name="descricao" class="form-control" disabled>{{especialidade.descricao}}</textarea>
            <button class="btn btn-danger mt-4" type="submit">Desativar</button>
        </form>
    </div>
</div>