<h3>Desativar funcionario: </h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/desativar-funcionario" method="POST">
                <input type="text" name="id" value="{{funcionario._id}}" hidden>
            <label for="nome">Nome: </label>
                <input type="text" name="a" class="form-control" value="{{funcionario.nome}}" disabled required>
            <label for="rg">RG: </label>
                <input type="text" name="b" value="{{funcionario.rg}}" class="form-control" disabled required>
            <label for="cpf">CPF: </label>
                <input type="text" name="c" value="{{funcionario.cpf}}" class="form-control" disabled required>
            <label for="nivel_usuario">Função: </label>
                <select name="nivel_usuario" class="custom-select" disabled required>
                    {{#select funcionario.nivel_usuario}}
                    <option value="0">Atendente</option>
                    <option value="1">Clínico</option>
                    <option value="2">Gerente</option>
                    <option value="3">Administrador</option>
                    {{/select}}
                </select>
            <button class="btn btn-danger mt-4" type="submit">Desativar</button>
        </form>
    </div>
</div>